# Entornos virtuales
venv/
env/

# Variables de entorno (¡CRÍTICO!)
.env

# Base de datos local vieja
db.sqlite3

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos multimedia de usuarios 
media/

# Posibles carpetas de datos de PostgreSQL
postgres_data/
pgdata/
db_data/